<!DOCTYPE html>
<html>
<head>
  <title>Adhocracy</title>
  <%= stylesheet_link_tag    "adhocracy/application", media: "all" %>
  <%= javascript_include_tag "adhocracy/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
